

<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation" style="border:solid white;" >
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                
                 
                 <a class="navbar-brand"><img id="logo" src="http://logos.textgiraffe.com/logos/logo-name/Adda-designstyle-kiddo-m.png"></a>
                
               
            </div>
            <div class="col-md-4" style="margin-top: 10px;">
                <div class="input-group" id="search_box">
    
                    <input type="text"  class="form-control" placeholder="enter item to search"/>
    
                        <span class="input-group-addon">
    
    
                            <a href=""><span class="glyphicon glyphicon-search"></span></a>
                        </span>
    
                </div>

                <!--<button id="post_Ad_button" type="button" data-toggle="modal" data-target="#post_ad_modal" >POST AN AD</button>-->
            </div>
            <div class="col-md-4" style="margin-top: 10px;">
                <button id="login_signup_button" class="btn btn-info btn-lg" type="button" data-toggle="modal" data-target="#login-modal">Login/Sign Up</button>
            </div>
        
         </div>
    </div> <!--header container-->
</nav>



<div class="modal fade" id="post_ad_modal" role="dialog">
    <post-Ad></post-Ad>
</div>

<div class="modal" id="login-modal" role="dialog">
    <login></login>
</div>
<br><br><br><br>



