<div id="user-menu-div">
	  <div class="w3-sidebar w3-bar-block w3-black w3-card-2" style="width:180px;">
  
        <button class="w3-bar-item w3-button tablink glyphicon glyphicon-user" (click)="viewProfile();Profile=true;" style="font-size: 18px;"> My Profile</button>
        <button class="w3-bar-item w3-button tablink glyphicon glyphicon-list"  (click)="getMyAds();ads=true;" style="font-size: 18px;"> My Ads</button>
        <button class="w3-bar-item w3-button tablink glyphicon glyphicon-envelope"  (click)="messages=true;" style="font-size: 18px;"> Messages</button>
        <button class="w3-bar-item w3-button tablink glyphicon glyphicon-cog"  style="font-size: 18px;"> Account Settings</button>
        <button class="w3-bar-item w3-button tablink glyphicon glyphicon-log-out" (click)="logout()"  style="font-size: 18px;"> Logout</button>
 
    </div>

    <div style="margin-left:180px;">
      <div class="w3-padding">Hello {{userdetails.firstName}}
  	    <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#post_ad_modal">Post a new Ad</button>
    </div>

    <div class="modal fade" id="post_ad_modal" role="dialog">
      <post-Ad></post-Ad>
    </div>

    <div *ngIf="Profile" class="w3-container user_content w3-animate-zoom">
      <div class="media">
        <div class="media-middle" style="position: relative;">
    	    <img src="https://cdn3.iconfinder.com/data/icons/black-easy/256/535108-user_256x256.png" height="100px" class="media-object">
    
	      </div>
	      <br>
	        <div class="media-body" style="position: relative;">
		        <h4 class="media-heading media-heading-style">{{userdetails.firstName}} {{userdetails.lastName}} <small><i> Created on 12th July,2010</i></small></h4>
    		    <p>Phone no.{{userdetails.phone}}</p>
    		    <p>Email: {{userdetails.email}}</p>
    		    <p>Adda Peer Rating:
    		    <a href="#" style="color:yellow;"><span class="glyphicon glyphicon-star" ></span></a>
    		    <a href="#" style="color:yellow;"><span class="glyphicon glyphicon-star" ></span></a>
    		    <a href="#" style="color:yellow;"><span class="glyphicon glyphicon-star" ></span></a>
    		    <a href="#" style="color:yellow;"><span class="glyphicon glyphicon-star" ></span></a>

    		    </p>
    		
    		
	        </div>

      </div>


    </div>

      <!--user posted ads div starts -->
      <div *ngIf="ads" class="w3-container user_content w3-animate-zoom" style="margin-top: 20px;">
  	   <div class="media media-style" *ngFor="let prod of advertisements;let i=index;">
    	    <div class="media-left">
    		    <img src="https://static.dnnsharp.com/icons/exclamation8.png" height="100px;" class="media-object">
    	    </div>
    	    <div class="media-body" style="position:relative;" >
    		    <h4 class="media-heading media-heading-style">{{prod.title}} <small><i>Posted on 12th July,2017</i></small></h4><br>
    		    <p>{{prod.description}}</p>
            <p class="glyphicon glyphicon-tag"><b>{{prod.category}}</b></p>
    		    <button class="glyphicon glyphicon-pencil"  data-toggle="tooltip" title="edit ad"  style="height:25px;position: absolute;right:30px;bottom: 0px;"></button>
    		   <button class="glyphicon glyphicon-trash"  data-toggle="tooltip" title="delete ad" (click)="deleteObject(i)" style="height:25px;position: absolute;right:0px;bottom: 0px;"></button>
    		    <br>
    	    </div>
        </div>
       
      </div>
       <!--user posted ads div ends -->

      <div *ngIf="messages" class="w3-container user_content w3-animate-zoom" >
        <h2>Messages</h2>
    
      </div>

      <div id="Acc_Settings" class="w3-container user_content w3-animate-zoom" style="display:none">
        <h2>Account Settings</h2>
   
      </div>

 
  </div>
</div>

